* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 1em;
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
}
