* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 1em;
}

label:not(.menu-item) {
  display: block;
  margin: 0.5em 0;
}

label:not(.menu-item) input {
  display: block;
}

.menu-item {
  cursor: pointer;
}

.menu-item.disabled {
  color: lightgray;
}

blockquote {
  padding: 1em;
  border-radius: 0.5em;
  background-color: lightyellow;
}

blockquote strong {
  user-select: all;
  cursor: pointer;
}

/* #NiceAndSimple: Button - https://codepen.io/tomsoderlund/pen/qqyzqp */
button,
.button {
  position: relative;
  background-color: dodgerblue;
  color: white;
  border-radius: 0.2em;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  outline: none;
  padding: 0.6em;
  margin: 0.2em;
  transition: all 0.1s;
  min-width: 20em;
}
button:focus:not(:disabled),
.button:focus:not(:disabled) {
  opacity: 0.8;
}
button:hover:not(:disabled),
.button:hover:not(:disabled) {
  opacity: 0.8;
  top: -0.1em;
}
button:hover:active,
.button:hover:active {
  top: 0.1em;
  transition: all 0.05s;
}
button:disabled,
.button:disabled {
  cursor: initial;
  background-color: silver;
}
a.button {
  text-decoration: none;
}

button.primary:not(:disabled) {
  background-color: #FF3E00;
}

/* #NiceAndSimple: Input and Dropdown Menu - https://codepen.io/tomsoderlund/pen/GNBbWz */
.StripeElement,
input:not([type="radio"]),
.input,
textarea,
select {
  -webkit-appearance: none;
  background-color: white;
  color: inherit;
  outline: none;
  resize: none;
  box-sizing: border-box;
  border-radius: 0.2em;
  border: 1px solid lightgray;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.6em;
  margin-right: 0.6em;
  width: 20em;
}
input::placeholder,
textarea::placeholder {
  color: lightgray;
}
.StripeElement:hover,
input:hover:not(:disabled):not(:focus),
.input:hover:not(:disabled):not(:focus),
textarea:hover:not(:disabled):not(:focus),
select:hover:not(:disabled):not(:focus) {
  border-color: silver;
}
input:focus,
.input:focus,
textarea:focus,
select:focus {
  border-color: darkgray;
}
input:read-only,
textarea:read-only {
  color: darkgray;
}
input:disabled,
.input:disabled,
textarea:disabled,
select:disabled {
  background-color: whitesmoke;
  color: darkgray;  
}
